@if(articlesResponse$ | async; as response) {
<main>
  @for (article of response.articles; track article.id) {
  <section>
    <p-card [header]="article.author_id" class="card" [subheader]="article.title">
      <ng-template pTemplate="header">
        <img class="image" alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <div class="date">
        <p class="createDate">تاریخ ایجاد:{{article.created_at}}</p>
        <p class="updateDate">تاریخ ویرایش:{{article.updated_at}}</p>
      </div>

      <ng-template pTemplate="footer">
        <div class="buttons">
          <p-button (onClick)="onDetail($event,article.id)" label="جزییات" severity="primary" class="w-full button" styleClass="w-full" />
          <p-button label="حذف" class="w-full button" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </section>
  } @empty {
  <span>Empty list of users</span>
  }
</main>
<p-paginator [showCurrentPageReport]="true" (onPageChange)="onPageChange($event)" [first]="1" [rows]="9"
  [totalRecords]="response.total_count" [rowsPerPageOptions]="[10, 20, 30]" />
}
